@page "/"
@inject MudThemeService ThemeService

<div style="display: flex; justify-content: center; align-items: center; height: 100vh;"> 
    <MudButton StartIcon="@(ThemeService.IsDarkMode ? Icons.Material.Filled.LightMode : Icons.Material.Filled.DarkMode)" 
               OnClick="ThemeService.ToggleAsync">
        Toggle to @(ThemeService.IsDarkMode ? "LightMode" : "DarkMode")
    </MudButton>
</div>